{:output-dir "/var/tmp"

 :state-file "marcgrep.dat"

 :listen-port 9095

 ;; Note: the total number of active threads will be (roughly) these two values multiplied.
 :worker-threads 2
 :max-concurrent-jobs 1

 :marc-destination-list [marcgrep.destinations.marcfile marcgrep.destinations.plaintext]

 :marc-source-list [{:description "my test bibliographic data"
                     :driver marcgrep.sources.marcxml-file
                     :marc-files ["/home/mst/test-records.xml"]}

                    {:description "some other file I found"
                     :driver marcgrep.sources.marcxml-file
                     :marc-files ["/home/mst/tinyupdates.xml"]}]

 :configure-jetty (fn [server]
                    (let [[connector] (.getConnectors server)]
                      (.setMaxIdleTime connector
                                       5000)))
 }
