/* my bits */
body {
  margin-left: 1em;
  margin-right: 1em;
  width: 970px;
}

p { margin-bottom: 1em; }

h1 {
  font-size: 200%;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}


.step {
    width: 30px;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

h2 {
  font-size: 150%;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 10px;
    margin-left: 10px;
}

h3:before {
    content: "\2192";
    margin-right: 10px;
}

.boolean_label {
    display: inline-block;
    width: 4em;
    font-weight: bold;
}

.container {
  border-top: solid #cdcdcd 1px;
  border-bottom: solid #cdcdcd 1px;
  padding-top: 10px;
  padding-bottom: 20px;
  overflow: auto;
}

.clause_group {
    border: solid white 4px;
    margin-left: 1em;
}

.clause {
    display: inline;
}

.grouper_checkbox {
  float: right;
}

.and_or_buttons {
  float: right;
  margin-top: 20px;
  clear: both;
}

.button_container {
    height: 30px;
    overflow: auto;
    width: 25%;
    float: right
}

.target_field {
    width: 5em;
}

.target_field_container {
  display: inline-block;
  position: relative;
  top: 1ex;
  margin-right: - 1em;
 }

.group_button {display: none; float: right;}
.ungroup_button {display: none; float: right;}
.remove_button {display: none; float: right;}

.submit_button {
  margin-top: 25px;
  display: none;
}

#querydisplay {
  font-family: monospace;
  white-space: pre;
  width: 600px;
  scroll-x: auto;
  scroll-y: auto;
}

.field_value {
    width: 30%;
}

.choose_output {
    margin-top: 50px;
}

.output_options {
  margin-left: 1em;
}

.output_options input[type=text] {
    width: 30em;
}

.field_options {
    margin-left: 2em;
    margin-top: 10px;
}

label {
    vertical-align: top;
    position: relative;
    top: 2px;
    font-weight: bold;
    margin-right: 1em;
    color: black;
 }

.caption {
    color: gray;
    font-size: 60%;
    margin-top: 5px;
}

.captioned_input {
    display: inline-block;
}

input#submit {
    margin-left: 2em;
}

table#job_list {
    width: 100%;
    border-bottom: solid black 1px;
}

table#job_list th {
    text-align: left;
    font-weight: bold;
    border-top: solid black 2px;
    border-bottom: solid black 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

table#job_list th {
    padding-right: 1em;
}

table#job_list td {
    border-bottom: solid #cdcdcd 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

table#job_list .query_column {
    padding-right: 1em;
}

table#job_list .job_query {
    width: 500px;
    height: 100%;
    white-space: pre;
    scroll-x: auto;
    overflow-x: auto;
    overflow-y: hidden;

}

.bombs_away
{
    margin-top: 1em;
}
